@define-color black   #1d2021;
@define-color white   #ebdbb2;
@define-color red     #ea6962;
@define-color orange  #d8a657;
@define-color yellow  #d8a657;
@define-color green   #a9b665;
@define-color aqua    #8ec07c;
@define-color blue    #7daea3;
@define-color purple  #d3869b;

* {
  border: 0;
  padding: 0 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  color: white;
}

window#waybar {
  border: 0px solid rgba(0, 0, 0, 0);
  background-color: @black;
}

#workspaces * {
  color: white;
}

#workspaces {
  border-style: solid;
  margin: 0 4px;
  background-color: @black;
}

#workspaces button {
  color: @black;
}

#workspaces button.active * {
  color: @white;
  background-color: @blue;
}

#workspaces button.visible {
  color: white;
  background-color: @blue;
}

#workspaces button.visible * {
  color: @black;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#mode,
#tray {
  padding: 1px 8px;
  border-style: solid;
  background-color: @black;
  opacity: 1;
}

#clock {
  color: @white;
}

#backlight {
  color: @white;
}

#battery {
  color: @white;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  color: @green;
}

@keyframes blink {
  to {
    color: @red;
  }
}

#pulseaudio {
  color: @white;
}

#pulseaudio.muted {
  color: #3b4252;
}

#temperature {
  color: @white;
}

#temperature.critical {
  color: @red;
}

#cpu {
  color: @white;
}

#cpu #cpu-icon {
  color: @white;
}

#memory {
  color: @white;
}

#network {
  color: @white;
}

#custom-player{
  color: @white;
}

#custom-nowplaying{
  color: @white;
}

#network.disconnected {
  color: @red;
}

#custom-power {
  /* margin: 8px; */
  padding: 1px;
  transition: none;
  color: @red;
  background: @black;
}

#window {
  border-style: hidden;
}
