<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="root-menu" label="Openbox 3">
  <separator label="APPLICATIONS" />
  <item label="FIREFOX">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="PCMANFM">
    <action name="Execute">
      <command>pcmanfm</command>
    </action>
  </item>
  <item label="SLACK">
    <action name="Execute">
      <command>slack</command>
    </action>
  </item>
  <item label="DISCORD">
    <action name="Execute">
      <command>discord</command>
    </action>
  </item>
  <item label="SPOTIFY">
    <action name="Execute">
      <command>spotify</command>
    </action>
  </item>
  <item label="ZOOM">
    <action name="Execute">
      <command>zoom-us</command>
    </action>
  </item>
  <separator label="SYSTEM" />
  <item label="VOLUME CONTROL">
    <action name="Execute">
      <command>pavucontrol</command>
    </action>
  </item>
  <separator label="OPENBOX" />
  <item label="RELOAD CONFIG">
    <action name="Reconfigure" />
  </item>
  <separator />
  <item label="LOGOFF">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
  <item label="REBOOT">
    <action name="Execute">
      <prompt>Reboot Computer?</prompt>
      <command>reboot</command>
    </action>
  </item>
  <item label="SHUTDOWN">
    <action name="Execute">
      <prompt>Shutdown Computer?</prompt>
      <command>poweroff</command>
    </action>
  </item>
</menu>

</openbox_menu>
